*{
    background-color: bisque;
    margin: 0;
}
.title{
    margin:0;
    text-align: center;
    justify-content: center;
    background-color: #ffd57c;
}
.showInfo{
    display:flex;
    left:943px;
    top:210px;
    border-radius:10px;
    height:25px;
    width:85px;
    justify-content: center;
    font-size:medium;
    position:fixed;
    color: white;
    background: black;
}

.addTask{
    position:fixed;
    height:40px;
    width:85px;
    border-radius:10px;
    left:673px;
    top:203px;
    border:none;
    color: white;
    background: black;
}

#taskList{
    margin-left:750px;
    margin-top:250px;
    list-style-type:none;
    font-style:oblique;
}
#taskInput{
    position:absolute;
    height:30px;
    width:180px;
    font-size:medium;
    text-align:center;
    justify-content:center;
    margin-left:757px;
    margin-top:168px;
    border-radius: 10px;
}
#message{
    background-color:#fac3c3;
    position:fixed;
    margin-top:700px;
    margin-left:550px;
}
.deleteItem{
    background-color:#f9f9fd;
    border-radius:20px;
    height:35px;
    width:60px;
    margin-left:10px;
}
.deleteItem:hover{
    background-color:yellowgreen;
}
